/*********************************
    Wrapper - Container Styles
**********************************/	

body{
	font-size:100%;
}

#container{
	width:70em;
	margin:auto;
	margin-top:1em;
	border:.3em solid #000;
	border-radius: .3em;
}

main{
	width:45em;
	float:left;
	padding:.8em 0 .8em 3em;
}

/*********************************
    Wrapper - Header Styles
**********************************/	

header{
	background-color:#000;
	overflow:hidden;
}

header img{
	float:left;
}
h1{
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	font-size: 2em;
	color:#E4A400;
}
h2{
	font-family: "Arial Narrow", Arial, sans-serif;
	font-size:1.8em;
	color:#fff;
}

/*********************************
    Wrapper - Nav Styles
**********************************/	

nav{
	clear:both;
	background-color: #E4A400;
	margin-bottom:.5em;
}

nav li{
	display:inline-block;
}

nav a{
	display:inline-block;
	width: 10em;
	text-align:center;
	padding:.5em;
	text-decoration: underline;
}

/*********************************
    Wrapper - Footer Styles
**********************************/	

footer{
	background-color: #000;
	color:#E4A400;
	clear:both;
	text-align:center;
	padding:.5em;

}


/*********************************
    Wrapper - Aside Styles
**********************************/	

aside{
	width: 15em;
	float:right;
	height:10em;
	border-radius: .3em;
	margin:.3em;
	background-color: #fff;
	border: .2em solid #000;
	color:#E4A400;
}


/*********************************
    Voting Form Styles
**********************************/	

form div{
	margin-top:.8em;
}

fieldset{
	width:20em;
	margin-top:.8em;
	border:.1em solid #E4A400;
}

label.alignlabel{
	display:inline-block;
	width:3em;
}

.warning{
  color:red;
  font-size:.7em;
}


/*********************************
    Results Styles
**********************************/	
#results{
  border-spacing: 0;
  border: .1em solid black;
	border-radius:1em;
	padding: 1em;
	margin:3em auto;
	width: 30em;
	padding: 2em;
}

#results th{
	text-align:left;
	font-weight:bolder;
	padding:.5em;
}

#results td{
	padding: .3em 2em;
}

#results td.count{
	text-align:center;
	
}

#results tr:nth-child(even){
	background-color:#ddd;
}

#results tfoot tr td{
	color: #E4A400;
	font-weight:bolder;
	border-top: .1em solid black;
}

/*********************************
    Validation Styles
**********************************/	


.noerror{
  display:none;
  
}

.error{
  display:inline;
  color:red;
  font-size:.8em;
}






